body {
  background: #161616;
  font-family: 'Unica One';
  padding-bottom: 5%;
}


.header{
  text-align: center;
  color: white;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
   animation: fadein 1s;
}

.myDescription{
  font-size: 2vmax;
}

.name{
  font-size:  6vmax;
  font-family: 'Unica One';
  font-weight: 300;
}

.nameButton {
  background: #161616;
  border: 0;
  color: white;
}

.nameButton:focus{
  outline: 0;
}

.clickName{
  margin-top: 50px;
  opacity: 0.2;
}

.aboutMeDiv{
  font-family: 'Lato';
  width: 65%;
  text-align: center;
  margin: auto;
  color: white;
  margin-top: 10%;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
   animation: fadein 1s;
}

.headerBar{
   background: #161616;
   margin-bottom: 100px !important;
}

.nameHeader{
  font-size: 60px;
  font-weight: 300;
  word-break: break-all;
  hyphens: auto;
}

.aboutMe{
  font-family: 'Lato';
  width: 60%;
  margin: auto;
  color: white;
  font-weight: 300;
  margin-top: 5%;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
   animation: fadein 1s;
}

.aboutMeText{
  margin-left: 25px;
  font-size: 18px;
}

.descriptionHeaders{
  font-size: 28px;
  margin-left: 25px;
}

.selectionButton{
  background: #161616;
  border: 0;
  color: white;
  transition: all 1s;
}

.selectionButton:active{
  color: #FF8C00;
  transition: all 1s;
  outline: 0;
}

.selectionButton.active{
   color: #FF8C00;
   outline: 0;
  transition: all 1s;
}

.selectionButton:focus{
  color: #ffa31a;
  outline: 0;
  transition: all 1s;
}

.selectionButtonText{
  font-size: 18px;
  font-weight: 300;
}

.paragraphText{
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: 300;
}


.contactMe{
  font-family: 'Lato';
  text-align: center;
  width: 60%;
  margin: auto;
  color: white;
  font-weight: 300;
  margin-top: 5%;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
   animation: fadein 1s;
}

.contactTextBox{
  width: 300px;
  margin-bottom: 22px;
}

.messageBox{
  max-width: 300px;
}

.contactMeForm{
  margin-top: 50px;
  text-align: center;
  color: #525252;
}

.email{
  text-align: center;
  font-size: 24px;
  margin-top: 50px !important;
}

.promise{
  margin-top: 50px;
}

.projects{
  width: 60%;
  text-align: center;
  margin: auto;
  -webkit-animation: fadein 1s;
  -moz-animation: fadein 1s;
  -ms-animation: fadein 1s;
  -o-animation: fadein 1s;
   animation: fadein 1s;
}

.projectPhotos{
  border-radius: 5px;
}

.photosColumn{
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  border: 0 none;
  box-shadow: none;
  padding: 0;
  color: white;
  margin-bottom: 10px;
}

.photoTitle{
  color: white;
}

.photoDesc{
  color: white;
}

.projectDescription{
  text-align: left;
  background-color: rgba(0,0,0, 0.2);
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 20px;
}

.descriptionText{
  color: white;
  margin-left: 5%;
  width: 95%;
  font-family: 'Lato';
  font-weight: 300;
}

.appSummary{
  margin-top: 0 !important;
}

.featuresInclude{
  font-weight: 300;
}

.caption {
  color: #efefef;
  text-align: center;
  width:100%;
  bottom: 0;
  position: absolute;
  background:#000;
  background: -webkit-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -moz-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: -o-linear-gradient(bottom, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  background: linear-gradient(to top, #000 40%, rgba(0, 0, 0, 0) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    }


/***************************************************************/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein{
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera < 12.1 */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}